@main("Play CP"){
    <div id="accordion">
        <h3>Kill Bill 1</h3>
        <div>
            Kill Bill es una película de acción y suspenso de dos partes estrenada en 2003 y 2004, que fue escrita y dirigida por Quentin Tarantino.
        </div>

        <h3>Kill Bill 2</h3>
        <div>
			Kill Bill: Volumen 2 es una película de acción y suspense estadounidense escrita y dirigida por Quentin Tarantino. Es la segunda de las dos películas que fueron lanzadas en cines aparte varios meses, la primera titulada Kill Bill: Volumen 1.
        </div>
    </div>
}