@()

<ul id="mb1">
    <li> <a data-icon="ui-icon-document">File</a>
        <ul>
            <li><a data-icon="ui-icon-contact">New</a>
                <ul>
                    <li><a>Project</a></li>
                    <li><a>Other</a></li>
                </ul>
            </li>
            <li><a href="">index</a></li>
            <li><a href="">Dialog</a></li>
            <li><a href="">Data Table</a></li>
            <li><a href="">Drop Down</a></li>
            <li><a href="">Accordion</a></li>
            <li><a href="">Tree</a></li>
            <li><a href="">tabview</a></li>
            <li><a href="">galleria</a></li>
            <li><a href="">growl</a></li>
        </ul>
    </li>
    <li> <a data-icon="ui-icon-pencil">Edit</a>
        <ul>
            <li><a data-icon="ui-icon-arrowreturnthick-1-w">Undo</a></li>
            <li><a data-icon="ui-icon-arrowreturnthick-1-e">Redo</a></li>
        </ul>
    </li>
    <li>
        <a data-icon="ui-icon-help">Help</a>
        <ul>
            <li><a>Contents</a></li>
            <li>
                <a data-icon="ui-icon-search">Search</a>
                <ul>
                    <li><a>Text</a>
                        <ul>
                            <li><a>Workspace</a></li>
                        </ul>
                    </li>
                    <li><a>File</a></li>
                </ul>
            </li>

        </ul>

    </li>
    <li>
        <a data-icon="ui-icon-gear">Actions</a>
        <ul>
            <li><a data-icon="ui-icon-refresh">Ajax</a>
                <ul>
                    <li><a data-icon="ui-icon-disk">Save</a></li>
                    <li><a data-icon="ui-icon-arrowrefresh-1-w">Update</a></li>
                </ul>
            </li>
            <li><a data-icon="ui-icon-document">Non-Ajax</a>
                <ul>
                    <li><a data-icon="ui-icon-close">Delete</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a data-icon="ui-icon-close">Quit</a>
    </li>
</ul>

